:root {
	--bakcground-color:#302C42;
	--text-color:#fff;
	--gradient-color-1:#8176AF;
	--gradient-color-2:#C0B7E8;	
	--gradient-color-3:#211E2E;
	--gradient-color-4:#433D60;
}

body {
	font-family:"Montserrat", sans-serif;	
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.button {
	padding: 17px 38px;	
	background: linear-gradient(90deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%);
	border-radius: 40px;
	color:#343045;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
}

.button--border {
	padding: 17px 38px;	
	border: 2px solid #fff;
	border-radius: 40px;
	color:var(--text-color);
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
}
.header__logo {
	min-width: 193px;	
}
.header__logo img {
	width:100%;	
}
.header__button {
	margin-right: 38px;	

}
.header__button:last-child {
	margin-right: 0;	
}
.header {
	background-color:var(--bakcground-color);
	color:var(--text-color);
	font-family:"Montserrat";
	position:relative;	
}

.header::before {
	content:'';
	width: 735px;
	height: 845px;
	position:absolute;
	background:url("../images/decoration/hero_dec.png");
	top:0;
	right:0;	
}
.header::after {
	content:'';
	width: 238px;
	height: 561px;
	position:absolute;
	background:url("../images/decoration/hero_dec-2.png");
	top:30%;
	left:0;	
}

.header__top {
	position: relative;
	z-index:2;	
}
.header__top-inner {
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__list {
	display: flex;
	gap:41px;
	font-weight: 700;
	font-size: 12px;	

	text-transform: uppercase;
}

.nav__item {
	transition: color 0.4s;
}
.nav__item:hover {
	color:var(--gradient-color-1);	
}
.nav__link {
	padding-top: 5px;	
	padding-bottom: 5px;	
}

.header__hero {
	position: relative;
	z-index: 2;	
}
.header__hero-inner {
	display: flex;	
	justify-content: space-between;
	align-items:center;
	padding-top:100px;
	padding-bottom:88px;	
}

.header__hero-content {
	max-width:456px;	
}
.header__hero-title {
	font-weight: 700;
	font-size: 40px;	
	margin-bottom: 36px;
	line-height:56px;
}

.header__hero-title span {
	font-weight: 700;
	font-size: 46px;
	background: linear-gradient(156deg, #c0b7e8 0%, #8176af 100%);	
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.header__hero-descr {
	margin-bottom:66px;	
	line-height:24px;
}
.header__hero-button {
	display: inline-block;		
	position:relative;
}
.header__hero-button::before{
	content:'';
	position: absolute;
	right: -80px;
	top:-50%;							
	z-index:11;
	display: inline-block;
	background-image:url("../images/icons/arrow.svg");
	width:46px;	
	height:33px;
	transition: right 0.4s;
}
 
.header__contacts {
	display: flex;	
	justify-content: space-between;
	padding: 25px 50px;
	border-radius: 90px;
	box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);
	background: radial-gradient(50% 100% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
}

.header__contacts-item {
	display: flex;	
	align-items: center;
	padding-right: 39px;	
	padding-left: 45px;	
	border-right: 1px solid rgba(192,183,232,33%);
}

.header__contacts-item:first-child {
	padding-left:0;
}
.header__contacts-item:last-child {
	padding-right:0;
	border-right: none;
}
.header__contacts-item-icon {
	margin-right:30px;	
}
.header__contacts-item-text {
	padding: 33px 0;		
}
.header__contacts-item-title {
	font-weight: 700;
	font-size: 24px;	
	margin-bottom: 10px;
}


.about {
	background-color: var(--bakcground-color);	
	color:#fff;
}


.about__inner {
	padding-top:90px;	
}

.about__intro {
	display: flex;	
	justify-content: space-between;
	padding-bottom: 100px;
}

.about__intro-title {
	font-weight: 700;
	font-size: 36px;	
	max-width:298px;
	line-height:56px;
	position:relative;
}

.about__intro-title::after {
	content:'';
	position: absolute;
	right: -65%;
	bottom:15px;							
	z-index:11;
	display: inline-block;
	background-image:url("../images/icons/arrow-long.png");
	width:200px;	
	height:33px;
	transition: right 0.4s;
}
.about__intro-title span{
	font-weight: 300;
}

.about__intro-text {
	max-width:652px;	
	line-height:24px;	
}

.about__main {
	display: flex;	
	justify-content: space-between;
	align-items:center;
	gap:15px;
}

.about__content {
	max-width:630px;	
}

.about__title {
	font-weight: 700;
	font-size: 36px;	
	margin-bottom: 5px;
}

.about__subtitle {
	font-weight: 300;
	font-size: 36px;	
	display: inline-block;
	margin-bottom: 42px;
}

.about__text {
	margin-bottom: 28px;	
	line-height:28px;
}







