:root {
	--bakcground-color:#302C42;
	--text-color:#fff;
	--gradient-color-1:#8176AF;
	--gradient-color-2:#C0B7E8;	
	--gradient-color-3:#211E2E;
	--gradient-color-4:#433D60;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.button {
	padding: 17px 38px;	
	background: linear-gradient(90deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%);
	border-radius: 40px;
	color:#343045;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
}

.button--border {
	padding: 17px 38px;	
	border: 2px solid #fff;
	border-radius: 40px;
	color:var(--text-color);
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
}
.header__logo {
	min-width: 193px;	
}
.header__logo img {
	width:100%;	
}
.header__button {
	margin-right: 38px;	

}
.header__button:last-child {
	margin-right: 0;	
}
.header {
	background-color:var(--bakcground-color);
	color:var(--text-color);
	font-family:"Montserrat";
	
}
.header__top-inner {
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__list {
	display: flex;
	gap:41px;
	font-weight: 700;
	font-size: 12px;	

	text-transform: uppercase;
}

.nav__item {
	transition: color 0.4s;
}
.nav__item:hover {
	color:var(--gradient-color-1);	
}
.nav__link {
	padding-top: 5px;	
	padding-bottom: 5px;	
}

.header__hero-inner {
	display: flex;	
	justify-content: space-between;
	align-items:center;
	padding-top:100px;
	padding-bottom:88px;	
}

.header__hero-content {
	max-width:456px;	
}
.header__hero-title {
	font-weight: 700;
	font-size: 40px;	
	margin-bottom: 36px;
	line-height:56px;
}

.header__hero-title span {
	font-weight: 700;
	font-size: 46px;
	background: linear-gradient(156deg, #c0b7e8 0%, #8176af 100%);	
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.header__hero-descr {
	margin-bottom:66px;	
	line-height:24px;
}
.header__hero-button {
	display: inline-block;		
	position:relative;
}
.header__hero-button::before{
	content:'';
	position: absolute;
	right: -80px;
	top:-50%;							
	z-index:11;
	display: inline-block;
	background-image:url("../images/icons/arrow.svg");
	width:46px;	
	height:33px;
	transition: right 0.4s;
}
 




